	<!-- Image Slideshow -->
	<section >
	    <div id="slider" class="sl-slider-wrapper">
	        <div class="sl-slider">
	          <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
	            <div class="sl-slide-inner">
	              <div class="bg-img bg-img-1"></div>
	              <h2><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h2>
	              <blockquote>              
	              <p class="location"><span class="glyphicon glyphicon-map-marker"></span> 1890 Syndey, Australia</p>
	              <p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p>
	              <cite>$ 20,000,000</cite>
	              </blockquote>
	            </div>
	          </div>
	          
	          <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
	            <div class="sl-slide-inner">
	              <div class="bg-img bg-img-2"></div>
	              <h2><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h2>
	              <blockquote>              
	              <p class="location"><span class="glyphicon glyphicon-map-marker"></span> 1890 Syndey, Australia</p>
	              <p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p>
	              <cite>$ 20,000,000</cite>
	              </blockquote>
	            </div>
	          </div>
	          
	          <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
	            <div class="sl-slide-inner">
	              <div class="bg-img bg-img-3"></div>
	              <h2><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h2>
	              <blockquote>              
	              <p class="location"><span class="glyphicon glyphicon-map-marker"></span> 1890 Syndey, Australia</p>
	              <p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p>
	              <cite>$ 20,000,000</cite>
	              </blockquote>
	            </div>
	          </div>
	          
	          <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
	            <div class="sl-slide-inner">
	              <div class="bg-img bg-img-4"></div>
	              <h2><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h2>
	              <blockquote>              
	              <p class="location"><span class="glyphicon glyphicon-map-marker"></span> 1890 Syndey, Australia</p>
	              <p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p>
	              <cite>$ 20,000,000</cite>
	              </blockquote>
	            </div>
	          </div>
	          
	          <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
	            <div class="sl-slide-inner">
	              <div class="bg-img bg-img-5"></div>
	              <h2><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h2>
	              <blockquote>              
	              <p class="location"><span class="glyphicon glyphicon-map-marker"></span> 1890 Syndey, Australia</p>
	              <p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p>
	              <cite>$ 20,000,000</cite>
	              </blockquote>
	            </div>
	          </div>
	        </div><!-- /sl-slider -->

	        <nav id="nav-dots" class="nav-dots">
	          <span class="nav-dot-current"></span>
	          <span></span>
	          <span></span>
	          <span></span>
	          <span></span>
	        </nav>
	    </div><!-- /slider-wrapper --> 
	</section>
	<!-- End Image Slideshow -->

			<!-- SECTION TITLE
			================================================= -->
			<section id="title-page" class="full-width">
				<div class="container">
					<div class="row">
						<h3>Coming Soon</h3>
					</div>
				</div>
			</section>
			<!-- SECTION TITLE -->


	<!-- VIDEO FEATURETTE
	================================================== -->
	<section id="feature">
		<div class="container">
			<div class="row feature">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 feature-video offset-2">
					<iframe src="https://www.youtube.com/embed/i9MJwL06-Ic" frameborder="0" allowfullscreen></iframe>
				</div><!-- end col -->
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 feature-event">
					<h4>Lorem ipsum dolor sit amet </h4>
					<ul>
						<li><a href=""> Lorem ipsum dolor sit amet, consectetur adipisicing elit,..</a></li>
						<li><a href=""> Lorem ipsum dolor sit amet, consectetur adipisicing elit,..</a></li>
						<li><a href=""> Lorem ipsum dolor sit amet,..</a></li>
						<li><a href=""> Lorem ipsum dolor sit amet, consectetur adipisicing elit,..</a></li>
						<li><a href=""> Lorem ipsum dolor sit amet, consectetur adipisicing elit,..</a></li>

					</ul>
					<div class="more">
						<a href="packages-page.html"> More Event...</a>
					</div>
				</div>
			</div><!-- row -->			
		</div><!-- container -->
	</section>
	<!-- End Featurette -->

			<!-- SECTION TITLE
			================================================= -->
			<section id="title-page" class="full-width">
				<div class="container">
					<div class="title" >
						<h3>Destination Highlight</h3>
					</div>
				</div>
			</section>
			<!-- SECTION TITLE -->

	<!-- DESTINATION HIGLIGHT
	================================================= -->
	<section id="dest-higlight">
		<div class="container">
			<div class="destinations-listing spacer">
						<div class="row destination-row clearfix card-group center">
							<a href="content-destinations-page.html" class="col-xs-12 col-sm-4 col-md-3 col-lg-3 destination animation-element ">
								<div class="thumbnail box-shadow-hover">
									<img src="assets/img/001.jpg" alt="Lights">
									<div class="caption">
									   	<h5>Air Terjun</h5>
									      <p>Lorem ipsum, ipsum</p>
									</div>
								</div>
							</a>
							<a href="content-destinations-page.html" class="col-xs-12 col-sm-4 col-md-3 col-lg-3 destination animation-element">
								<div class="thumbnail box-shadow-hover">
									<img src="assets/img/001.jpg" alt="Lights">
									<div class="caption">
									   	<h5>Air Terjun</h5>
									      <p>Lorem ipsum, ipsum</p>
									</div>
								</div>
							</a>
							<a href="content-destinations-page.html" class="col-xs-12 col-sm-4 col-md-3 col-lg-3 destination animation-element">
								<div class="thumbnail box-shadow-hover">
									<img src="assets/img/001.jpg" alt="Lights">
									<div class="caption">
									   	<h5>Air Terjun</h5>
									      <p>Lorem ipsum, ipsum</p>
									</div>
								</div>
							</a>
							<a href="content-destinations-page.html" class="col-xs-12 col-sm-4 col-md-3 col-lg-3 destination animation-element">
								<div class="thumbnail box-shadow-hover">
									<img src="assets/img/001.jpg" alt="Lights">
									<div class="caption">
									   	<h5>Air Terjun</h5>
									      <p>Lorem ipsum, ipsum</p>
									</div>
								</div>
							</a>
							<a href="content-destinations-page.html" class="col-xs-12 col-sm-4 col-md-3 col-lg-3 destination animation-element">
								<div class="thumbnail box-shadow-hover">
									<img src="assets/img/001.jpg" alt="Lights">
									<div class="caption">
									   	<h5>Air Terjun</h5>
									      <p>Lorem ipsum, ipsum</p>
									</div>
								</div>
							</a>
							<a href="content-destinations-page.html" class="col-xs-12 col-sm-4 col-md-3 col-lg-3 destination animation-element">
								<div class="thumbnail box-shadow-hover">
									<img src="assets/img/001.jpg" alt="Lights">
									<div class="caption">
									   	<h5>Air Terjun</h5>
									      <p>Lorem ipsum, ipsum</p>
									</div>
								</div>
							</a>
							<a href="content-destinations-page.html" class="col-xs-12 col-sm-4 col-md-3 col-lg-3 destination animation-element">
								<div class="thumbnail box-shadow-hover">
									<img src="assets/img/001.jpg" alt="Lights">
									<div class="caption">
									   	<h5>Air Terjun</h5>
									      <p>Lorem ipsum, ipsum</p>
									</div>
								</div>
							</a>
							<a href="content-destinations-page.html" class="col-xs-12 col-sm-4 col-md-3 col-lg-3 destination animation-element">
								<div class="thumbnail box-shadow-hover">
									<img src="assets/img/001.jpg" alt="Lights">
									<div class="caption">
									   	<h5>Air Terjun</h5>
									      <p>Lorem ipsum, ipsum</p>
									</div>
								</div>
							</a>
						</div>

						<div class="more">
					          	<a  href="destinations-page.html">More Destinations...</a>
						</div>					    
			</div>
		</div>
	</section>
	<!-- End Destination -->


			<!-- SECTION TITLE
			================================================= -->
			<section id="title-page" class="full-width">
				<div class="container">
					<div class="title" > 
						<a href="packages-page.html" class="more pull-right viewall">View All Listing</a>
      					<h3>Travel Packages</h3>
      				</div>
				</div>
			</section>
			<!-- SECTION TITLE -->


	<!-- Travels Products -->
	<section id="travel-package">
	  	<div class="container">
	    	<div class="travels-listing spacer">
			    <div id="owl-example" class="owl-carousel">
			          	<div class="travels">
				          	<div class="packagelink animation-element">
								<div class="package  border-radius-base box-shadow-hover">
									<div class="card">
										<img src="assets/img/001.jpg" class="img-responsive" alt="package">
										<div class="package-body">
											<div class="package-title"><h5 >PackageTitle</h5></div>
											<div class="package-text">
												<ul>
													<li>This is a description</li>
													<li>This is a description</li>
													<li>This is a description</li>
													<li>This is a description</li>
												</ul>
											</div>
										</div>
										<div class="package-footer ">
											<a class="btn btn-primary btn-book btn-xs btn-block" href="content-packages-page.html">Book Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
			          	<div class="travels">
				          	<div class="packagelink animation-element">
								<div class="package  border-radius-base box-shadow-hover">
									<div class="card">
										<img src="assets/img/001.jpg" class="img-responsive" alt="package">
										<div class="package-body">
											<div class="package-title"><h5 >PackageTitle</h5></div>
											<div class="package-text">
												<ul>
													<li>This is a description</li>
													<li>This is a description</li>
													<li>This is a description</li>
													<li>This is a description</li>
												</ul>
											</div>
										</div>
										<div class="package-footer ">
											<a class="btn btn-primary btn-book btn-xs btn-block" href="content-packages-page.html">Book Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="travels">
				          	<div class="packagelink animation-element">
								<div class="package  border-radius-base box-shadow-hover">
									<div class="card">
										<img src="assets/img/001.jpg" class="img-responsive" alt="package">
										<div class="package-body">
											<div class="package-title"><h5 >PackageTitle</h5></div>
											<div class="package-text">
												<ul>
													<li>This is a description</li>
													<li>This is a description</li>
													<li>This is a description</li>
													<li>This is a description</li>
												</ul>
											</div>
										</div>
										<div class="package-footer ">
											<a class="btn btn-primary btn-book btn-xs btn-block" href="content-packages-page.html">Book Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="travels">
				          	<div class="packagelink animation-element">
								<div class="package  border-radius-base box-shadow-hover">
									<div class="card">
										<img src="assets/img/001.jpg" class="img-responsive" alt="package">
										<div class="package-body">
											<div class="package-title"><h5 >PackageTitle</h5></div>
											<div class="package-text">
												<ul>
													<li>This is a description</li>
													<li>This is a description</li>
													<li>This is a description</li>
													<li>This is a description</li>
												</ul>
											</div>
										</div>
										<div class="package-footer ">
											<a class="btn btn-primary btn-book btn-xs btn-block" href="content-packages-page.html">Book Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="travels">
				          	<div class="packagelink animation-element">
								<div class="package  border-radius-base box-shadow-hover">
									<div class="card">
										<img src="assets/img/001.jpg" class="img-responsive" alt="package">
										<div class="package-body">
											<div class="package-title"><h5 >PackageTitle</h5></div>
											<div class="package-text">
												<ul>
													<li>This is a description</li>
													<li>This is a description</li>
													<li>This is a description</li>
													<li>This is a description</li>
												</ul>
											</div>
										</div>
										<div class="package-footer ">
											<a class="btn btn-primary btn-book btn-xs btn-block" href="content-packages-page.html">Book Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="travels">
				          	<div class="packagelink animation-element">
								<div class="package  border-radius-base box-shadow-hover">
									<div class="card">
										<img src="assets/img/001.jpg" class="img-responsive" alt="package">
										<div class="package-body">
											<div class="package-title"><h5 >PackageTitle</h5></div>
											<div class="package-text">
												<ul>
													<li>This is a description</li>
													<li>This is a description</li>
													<li>This is a description</li>
													<li>This is a description</li>
												</ul>
											</div>
										</div>
										<div class="package-footer ">
											<a class="btn btn-primary btn-book btn-xs btn-block" href="content-packages-page.html">Book Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="travels">
				          	<div class="packagelink animation-element">
								<div class="package  border-radius-base box-shadow-hover">
									<div class="card">
										<img src="assets/img/001.jpg" class="img-responsive" alt="package">
										<div class="package-body">
											<div class="package-title"><h5 >PackageTitle</h5></div>
											<div class="package-text">
												<ul>
													<li>This is a description</li>
													<li>This is a description</li>
													<li>This is a description</li>
													<li>This is a description</li>
												</ul>
											</div>
										</div>
										<div class="package-footer ">
											<a class="btn btn-primary btn-book btn-xs btn-block" href="content-packages-page.html">Book Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
			    </div>
	    	</div>
	  	</div>
	</section>
	<!-- End Travels Products -->



	<!-- FOOTER
	================================================= -->
	<footer id="footer" class="page-footer">
	    <div class="container-fluid clearfix text-center  font-small full-width">
	        <div class="row ">
	            <!--First column-->
	            <div class="footer-partners col-xs-12 col-sm-4 col-md-4 col-lg-4">
	            	<h4><b>Our Partners</b></h4>
	            	<div class="row partners">
	            		<div class="col logo-partner">
	            			<a href="#" ><img src="assets/img/just.jpg" alt="partner"></a>
	            		</div>
	            		<div class=" col logo-partner">
	            			<a href="#" ><img src="assets/img/just.jpg" alt="partner"></a>
	            		</div>
	            		<div class="col logo-partner">
	            			<a href="#" ><img src="assets/img/just.jpg" alt="partner"></a>
	            		</div>
	            		<div class="col logo-partner">
	            			<a href="#" ><img src="assets/img/just.jpg" alt="partner"></a>
	            		</div>            		
		            </div>
	            </div>
	            <!--/.First column-->

	            <!--/.Second column-->
                <div class="col-lg-4 col-sm-4">
                      <h4><b>Follow us</b></h4>
                      <a href="https://facebook.com/sewadrone"><img src="assets/img/facebook.png" alt="facebook"></a>
                      <a href="https://twitter.com/sewadrone"><img src="assets/img/twitter.png" alt="twitter"></a>
                      <a href="#"><img src="assets/img/linkedin.png" alt="linkedin"></a>
                      <a href="https://instagram.com/sewadrone"><img src="assets/img/instagram.png" alt="instagram"></a>
                </div>

                <div class="col-lg-4 col-sm-4">
                    <h4><b>Contact us</b></h4>
                    <p><b>SewaDrone Inc.</b><br>
                    <span class="glyphicon glyphicon-map-marker"></span> Jl. Ring Road Utara, Condong Catur, Sleman, Yogyakarta <br>
                    <span class="glyphicon glyphicon-envelope"></span> hello@sewadrone.com<br>
                    <span class="glyphicon glyphicon-earphone"></span> +62 878 9999 9999</p>
                </div>
	        </div>
	    </div>

	    <!-- Copyright-->
	    <div class="footer-copyright py-3 text-center full-width">
	    	<smal>© 2018 Copyright:<a href="#">lalalalalalaa</a></smal>
	    </div>
	    <!--/.Copyright -->
	</footer>
	<!-- End FOOTER -->
