/* Your custom styles */
/* ========= Custom CSS ========== */
/*              2018
1. Gneneral
2. Global
    a. Navbar
    b. Setting language
    c. Vertical Line
    d. Button
    e. Font Awesome
3. Layout
    a. Corousel
    b. Destination Highlight
    c. Travel Package
    d. Footer
4. Media Query

...
*/

/*==================================*/
/*               CSS V.1            */
/*       by Visual Production.      */
/*                                  */
/*==================================*/



/* ========= GENERAL ========== */
html,
body {
    font-size: 100%;
    background: url('../img/background.jpg') top left repeat;
    color: #555555;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, 
    sans-serif,proxima-nova, Lato ;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
    cursor: default; 
}
h1,h2,h3,h4,h5,h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-weight: bold;
}
a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #c9302c;
}
a:link, a:visited{
    color: #DB0A5B;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
p{
	margin: 0 0 15px;
	font-size: 14px;
	line-height: 24px;
	word-spacing: 1px;
	padding-bottom: 10px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.left {
    float: left !important; 
}
.right{
    float: right !important; 
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

.li-none {
    list-style-type: none;
    list-style: none;
    font-size: 12px;
    display: inline-block;
}
.center{
    text-align: center;
    float: center;
    align-content: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}





/* ========= GLOBAL ========== */

/* Navbar */
#top-header{
    position: fixed;
    width: 100%;
    z-index: 99;
    background: white;
}
.navbar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: .5rem 1rem;
    padding-right: 1em !important;
    padding-left: 1em !important;
    box-shadow: 0px 0px 5px #7d7d7d;
    background-color: white;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.navbar-header{
    margin-left: 0px;
    padding-top: 10px;
}

.navbar-toggler {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    line-height: 1;
    margin-top: 10px;
}
.navbar-brand {
    display: inline-block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand img {
    height:50px !important;
    width:auto !important;
} 

.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0.1);
}
.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color: rgba(0,0,0,0.9);
}
#navbar-menu{
    text-align: center;
    padding: .25rem;
}
.top-menu{
    padding-top: 15px;
}
.top-menu-active {
    width: 100%;
}

.navbar-toggleable-md {
    border-bottom: 2px solid #2096ff;
    border-radius: 0;
    padding: 0 !important;
}

.d-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.full-width {
    width: 100%;
}

.top-right-menu {
    margin-left: 2em;
    padding-top: 10px;
}
.li-none i.fa{
	margin: 3px;
}
.menu {
    position: relative;
    display: inline-block;
}
.menu a.link-menu {
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
}

.top-menu li a {
    text-align: left;
    display: block;
    padding: .5em;
    color: #000;
    position: relative;
}

.top-menu-active {
    width: 100%;
    display: none;
    width: 85%;
    height: .3em;
    background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
    border-radius: 3px;
    margin-top: .3em;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.menu:hover .link-menu .top-menu-active{
        display: block;
}
.lnr {
    font-family: Linearicons-Free;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Setting language */
.language-shown-hide{
    height: 0px;
    opacity: 0;
    transition:all 300ms;
    overflow: hidden;
    animation-timing-function:ease;
}
.booking-shown-hide {
    height: 0px;
    opacity: 0;
    transition:all 300ms;
    overflow: hidden;
    animation-timing-function:ease;
}

.dismissable-country-language{
    position:fixed;
    height:100%;
    width:100%;
    z-index: 12;
    opacity:0.9;
    background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
    background-size: cover;
}
.booking-page{
    position:fixed;
    height:100%;
    width:100%;
    z-index: 12;
    opacity:0.9;
    background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
    background-size: cover;
}
.top-language {
    transition:background-color .3s;
    border-color: #cacaca !important;
    border-left: 1px;
    border-right: 1px;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
    border-radius: 0;
    margin: 0;
}
.top-language ul{
    padding-top: 15px;
}
.top-language ul li{
    padding-right: 20px;
    padding-top: 0;
    text-align: center;
    vertical-align: middle;
}

.top-language:hover {
    cursor:pointer;
    opacity: .8;
    background-color: #2096ff;
    color: white !important;
    border-radius: 4px;
}


/* Vertical Line */

.vl {
    border-left: 3px solid white;
    height: 65px;
    position: relative;
    top: 60px;
    border-color: #2096ff;
}
.vl.head {
    border-left: 1px solid grey;
    height: 20px;
    position: absolute;
    left: 100%;
    top: 15px;
}


/* Button */

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
button, input, .btn, a.btn {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: white;
}
.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}

.btn.btn-lang {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0 solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.btn-lang{
    padding: 5px 1px 5px 1px;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.input-group-btn>.btn {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
}

input, button, select, textarea {
    line-height: inherit;
}
a, area, button, [role="button"], input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.btn-book {
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding-top: 10px;
    background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
    border: 0;
    font-weight: bold;
    transition: all 200ms ease-out;
    color: white !important;
}

.btn-floating.btn-lg {
    width: 61.1px;
    height: 61.1px;
}

.btn-black {
    background-color:rgba(0,0,0,.2);
}
.btn-floating {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}

a.waves-effect, a.waves-light {
    display: inline-block;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}


/* Font Awesome */
.fa {
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-facebook,
	.fa-twitter,
	.fa-youtube,
	.fa-google-plus,
	.fa-instagram{
	padding-top: 9px;
	padding-left: 9px;
}





/* ========== LAYOUT HOMEPAGE ========== */
section{
	padding: 0;
}
.container {
    position: relative;
    text-align: center;
}
#content{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 960px;
    *zoom: 1;
    position: relative;
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.row + .row {
	margin-top: 10px;
}
section h2{
	margin: 20px 0 40px;
}
section h3{
	margin: 30px 0 10px;
}
section.main-content {
	padding: 20px 0;
}
#primary {
	padding-top: 20px;
	padding-bottom: 20px;
}

#title-page{
	position: relative;
	padding: 5px 0;
    width: 100%;
    background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
    background-size: cover;
	color: white;
	text-rendering: optimizeLegibility;
	font-size: 1.2em;
}
#title-page,h3{
	text-align: left;
    padding-left: 10px;
}

.more{
	float: right;
	padding-top: 20px;

}
.card-group{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    margin: auto;
    padding: auto;
}
.card-link {
  @include hover {
    text-decoration: none;
  }

  + .card-link {
    margin-left: $card-spacer-x;
  }
}



/* Corousel */
.carousel-inner > .carousel-item > img,
  .carousel-inner > .carousel-item > a > img {
    width: 100%;
    height: 50%;
    max-height: 620px;
    margin: auto;
    padding-top: 10px;
}

.carousel-caption {
 	text-align: left;
}
.carousel-caption .vl{
	margin-top: 20px;
}
.carousel-caption .text-caption-header{
	margin-left: 20px;
}



/* Destination Highlight */
#dest-higlight{
	text-align: center;
}
.destination{
	width: 230px;
	height: 200px;
	margin: 10px 5px 15px 5px;
	position: relative;
}
.destination .thumbnail img{
	width: 230px;
	height: 150px;
}
.destination .thumbnail, a img{
	width: 100%;
	height: 100%;
}

.caption{
    padding-top: 5px;
    padding-bottom: 5px;
}
.caption h5{
    font-size: 14px;
    color: black;
}
.caption p{
    font-size: 12px;
    color: black;
}


/* Travel Package */
#travel-package{
	text-align: center;
}
.package{
	width: 180px;
	height: 350px;
	display: block;
	position: relative;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
    transition: all 200ms ease-out;
    border-radius: 5px;

}
.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}
.package.card. img{
	width: 180px;
	height: 190px;
}
.packagelink{
	display: block;
	margin: 10px 5px 10px 5px;
}
.border-radius-base{
	overflow: hidden;
}
.box-shadow-hover{
	transition-property: all;
	transition-duration: 200ms;
	transition-timing-function: ease-out;
	transition-delay: initial;
	box-shadow: 0 0 20px rgba(0,0,0,0.12); 
}
.img-package{
	width: 100%; 
	max-width: 180px;
	height: 190px;
    max-height: 190px;
	background-size: cover;
    background-position: 50% 50%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.package-body{
	width: 100%; 
    max-width: 180px;
	height: 90px;
	text-align: left;
    padding-left: 15px;
    padding-right: 5px;
	display: inline-table;
	-webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.package-title {
  float: left;
  padding-top: 5px;
  margin-bottom: 0;
  font-size: 16px;
}
.package-text {
  float: left;
}
p.package-text,li {
  font-size: 12px;
  padding: 5px 0 0 10px;
}
.package-footer{
    width: 100%;
	max-width: 180px;
	height: 40px;
	background-color: #f7f7f9;
    border-top: 1px solid rgba(0,0,0,0.125);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.package-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}
.read-more{
	font-size: 13px;
}
.text-muted {
    color: #636c72 !important;
}


/* Footer */
footer{
	box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	bottom: 0;
	color: white;
}
footer.page-footer {
    position:relative;
    bottom: 0;
    font-size: 14px;
    color:#fff;
    background-color:#1c2331!important
}
footer.page-footer .container-fluid{
	width:auto
}
.container-footer{
    margin-right: 20px;
    margin-left:20px;
}
footer.footer-copyright {
    overflow: hidden;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    font-size: 8px;
    color: rgba(255,255,255,.6);
}
footer.page-footer a{
	color:#fff
}
.text-uppercase{
    font-size: 16px;
}
.font-small {
    font-size: .9rem;
}
.text-center {
    text-align: center!important;
}
.pt-0, .py-0 {
    padding-top: 5px !important;
}
.mt-5, .my-5 {
    margin-top: 3rem!important;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.mr-auto, .mx-auto {
    margin-right: auto!important;
}
.pb-3, .py-3 {
    padding-bottom: 1rem!important;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.footer-partners{
	margin-top: 0;
	margin-bottom: 20px;
}
.partners{
	padding: 0 10px 0 10px;
}
.partner{
	width: 100%;
        max-width: 100px;
	height: 100%;
        max-height: 50px;
    margin: 0 5px 5px 5px;
}
.logo-partner img{
    width: 100px;
    height: 50px;
    margin: 5px 5px 5px 5px;
}
.footer-menu{
    text-align: center;
	margin-top: 0;
    margin-bottom: 20px;
}
.list-unstyled {
    list-style: none;
    padding-left: 0;
}
.footer-menu .menus li{
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
}
.footer-contacts{
    margin-top: 0;
    margin-bottom: 20px;
}

.footer-contacts p{
	display: inline-block;
	color: white;
	vertical-align: middle;
}
span.fa.footer-contact-icon{
	color: white;
	font-size: 18px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	margin: 10px 15px 10px 0;
}
span.new-line-span{
	display: block;
	font-weight: normal;
	display: block;
	font-weight: normal;
	font-size: 12px;
	line-height: 2;
	padding-left: 10px;
}
footer p {
	margin: 0;
}

footer a:link, footer a:visited {
	color: white;
}

footer a:hover {
	color: #dd5638;
}





/* ========== LAYOUT PACKAGES-PAGE ========== */
.nav-link {
    display: block;
    padding: 10px 30px 10px 30px;
}
.nav-tabs .nav-link.active {
    color: #fff;
    background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
    border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-link {
    border: 0 solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
#nav-tab a{
	font-size: 16px;
	font-weight: bold;
}
#nav-tabContent{
	padding: 10px;
}
.tab-content{
	text-align: left;
}
.tab-content h4{
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.tab-content p{
	font-size: 14px;
	line-height: 24px;
	word-spacing: 1px;
	padding-bottom: 10px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
form{
	padding-top: 20px;
}



/* ========== LAYOUT PACKAGES-PAGE ========== */
.content-description{
	padding: 10px;
	text-align: justify;
}
.content-description h4{
	font-size: 16px;
	padding-bottom: 10px;
}
.content-description p{
	font-size: 14px;
	line-height: 24px;
	word-spacing: 1px;
	padding-bottom: 10px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.content-higlight{
	position: relative;
	margin-top: 20px;
	padding:10px;
}

.tile-highlight{
	width: 400px;
	height: 90px;
	margin: 5px 15px 5px 15px;
	background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
}











/* ========= MEDIA QUERY ========== */